* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 0.35s linear;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    --bg: #000000;
    background-color: var(--bg);
    color: white;
    flex-direction: column;
}

.container-utama {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    margin-bottom: 0;
}


.player {
    width: 640px;
    background-color: #203d45;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 16px;
    padding: 8px 15px;
    position: relative;
    border-radius: 64px;
    margin-bottom: 0px;
}

.control,
#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}

#playbtn {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}

#playbtn:hover {
    -webkit-text-fill-color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#current {
    text-align: right;
}

.bar {
    --space: -4px;
    background-color: #24242424;
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -2;
}

#progress {
    display: blcok;
    width: var(--progress, 0%);
    background-color: white;
    transition: all 1s linear;
    height: 100%;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    margin-bottom: 350px;
}

.bird {
    background-color: rgb(167, 96, 96);
    border-radius: 50% 50% 20% 20%;
    color: rgb(223, 97, 97);
    width: 15px;
    height: 15px;
    position: absolute;
    animation: bird-ani 0.8s linear infinite;
}

.bird::after,
.bird::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
}

.bird::after {
    border-radius: 100% 100% 0 0;
    box-shadow: inset 0px 5px rgb(206, 169, 169);
    width: 100px;
    height: 100px;
    margin-top: -7px;
    margin-left: -50px;
    transform-origin: 100% 0;
    animation: wing 3s linear infinite;
}

.bird::before {
    background-color: #ffc37f;
    border-radius: 100% 0% 20% 0%;
    margin-top: 1px;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    transform: rotateZ(45deg);
}

@keyframes wing {
    50% {
        transform: rotateX(-1440deg);
    }
}

@keyframes bir-ani {
    40% {
        transform: rotateZ(2deg) translateX(2px) translateY(10px) translateZ(0);
    }

    800% {
        transform: rotateZ(2-deg) translateX(5px) translateY(8px) translateZ(0);
    }
}

/* envelope */
.wrapper {
    height: 200px;
    width: 300px;
    background-color: #3760C9;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
    border-top: 100px solid #658ced;
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
    border-top: 100px solid #3760C9;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #C4DFF0;
    border-bottom: 100px solid #C4DFF0;
    border-left: 150px solid #a4d4f2;
    z-index: 3;
}

.letter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
}

.letter p {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #3B4049;
}

.wrapper:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper:hover .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.wrapper:hover .letter {
    transform: translateY(-50px);
    transition-delay: 0.5s;
}


/* Responsive Layout */
@media only screen and (max-width: 800px) {
    body {
        display: none;
        background-color: #9e7fc1;
    }
}
